{% extends "base.html" %}
{% block content %}
<body>
	<div class="card-body">
		<h1>{{ post.title }}</h1>
		<p>By {{ post.author }} on {{ post.data_created }}</p>
		<div class="card-text">
			{{ post.content|safe }}
		</div>
		<form  method="POST" action="{{ url_for('add_comment', id=post._id) }}" class="d-flex">
			{{ form.hidden_tag() }}
			<input type="text" class="form-control" placeholder="Add a comment" name="comment">
			<button class="btn btn-outline-secondary" type="submit">Add</button>
		</form>
        <br/>
		<br/>
		{% for comment in post.comments %}
			<div class="card">
				<div class="card-body">
					<p>{{ comment }}</p>
					<p>{{ comment.author }}</p>
				</div>
			</div>
		{% endfor %}
        {% if post.author_id == current_user._id %}
            <a href="{{ url_for('update_post', id=post._id)}}" class="btn btn-primary">Edit post</a>
            <a href="{{ url_for('delete_post', id=post._id)}}" class="btn btn-primary btn-danger">Delete post</a>
        {% endif %}
        <a href="/post/view" class="btn btn-primary">Go to blog</a>
	</div>
</body>
{% endblock %}
