{% extends "base.html" %}
{% block content %}
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Username: </strong> {{ user.name }}</li>
        <li class="list-group-item"><strong>Email: </strong> {{ user.email }}</li>
        <li class="list-group-item"><strong>Created: </strong> {{ user.data_created }}</li>
        </ul>
    </div>
    <img src = "{{ url_for('users.static', filename='images/' + comment.author.profile_picture) }}" alt="Profile Picture" style="width: 200px; height: 200px; border-radius: 50%;">
{% endblock %}
