{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <p>Quizonator is a quiz game that allows you to create your own quizzes and play them with your friends.</p>
    <p>It is currently in development, so please check back later.</p>
    <p>For more information, please don't contact </p>
    <image src="{{ url_for('static', filename='images/quiz.webp') }}" alt="quiz" width="500" height="600">
{% endblock %}
