{% extends "base.html" %}
{% block content %}
<h1>Blog posts...</h1>
<br/>

<h1>Search phrase: '{{ search }}'</h1>

{% for post in posts %}
<div class="shadow p-3 mb-5 bg-white rounded">
    <h2><a href="{{ url_for('view_post', id=post._id)}}">{{ post.title }}</a><br/></h2>
    <b>content</b>: {{ post.content|safe }}<br/>
    <b>author</b>: {{ post.author }}<br/>
    <b>created</b>: {{ post.data_created }}<br/><br/>
    <a href="{{ url_for('view_post', id=post._id)}}" class="btn btn-primary">View</a>
</div>
{% endfor %}
<a href="/post/view" class="btn btn-primary">Go to blog</a>
{% endblock %}
