{% extends "base.html" %}
{% block title %}View All Users {% endblock %}
{% block content %}
    <h1>View All Users</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Data created</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user._id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.data_created}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
